$grey: #e2e2e2;

// Fonts
$sidr-font-family: $body-font-family;
$sidr-font-size: $base-font-size;

// Colors
$sidr-background : #f8f8f8;
$sidr-background-shadow-color : #ebebeb;
$sidr-text-color: $body-font-color;