.nav {
    list-style:none;
    overflow: hidden;
    margin-bottom:0;
    text-align: center;

    li {

        > a{
            display:inline-block;
           *display:inline;
            zoom:1;

            color: $body-font-color;
            font-size: emCalc(24px);
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.site-nav {
    background: $grey;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: emCalc(-38px);

    @include box-shadow(#777 0 7px 8px -6px);

    @media #{$small} {
        margin-top: emCalc(-18px);
    }
}