.address {
	min-height: 75px;
	padding-left: emCalc(image-width("../images/icons/marker-large-1.png") + 10px);
	padding-right: 0;

	> p {
		margin-bottom: 0;
		line-height: 1.2;
	}

	&.top {
		margin-bottom: 1em;
	}

	@media #{$extra-small} {
		text-align: left;
	}

	@media #{$small} {
		margin-bottom: emCalc(30px);
	}

	&.address-1 {
		background: inline-image("../images/icons/marker-large-1.png") no-repeat;
	}

	&.address-2 {
		background: inline-image("../images/icons/marker-large-2.png") no-repeat;
	}

	&.address-3 {
		background: inline-image("../images/icons/marker-large-3.png") no-repeat;
	}
}

.address-title {
	color: $secondary-color;
	font-size: emCalc(20px);
	padding-top: emCalc(5px);
}

.directions {
	font-size: emCalc(18px);
}

#map_canvas {
	height: emCalc(400px);
	margin-bottom: emCalc(30px);

	@media #{$small} {
		margin-bottom: 0;
	}
}