.custom.radio {
	margin-bottom: .5em;
}

.add-guest {
	display: inline-block;
	text-decoration: line-through;
	margin-bottom: 1em;
}

.parsley-form {
	input {
		margin-bottom: 0;
		margin-top: 1em;
	}
}

.parsley-error-list {
	> p {
		margin-bottom: 0;
		font-size: emCalc(14px);
	}
}

.rsvp {
	label {
		font-size: emCalc(24px);
	}
}