.mega {
	line-height: 1;
	margin-bottom: .1em;

	@media only screen {
		font-size: emCalc(72px);
	}

	@media #{$extra-small} {
		font-size: emCalc(100px);
	}

	.amp {
		color: $primary-color;
		font-family: "Petit Formal Script", cursive;
		font-size: .75em;
		font-weight: 400;
	}
}

.tagline {
	font-size: emCalc(18px);
}

